{{#if startDate}}
  <div class="date">
    <span class="startDate">{{MY startDate}}</span>
    {{#if endDate}}
      <span class="endDate">- {{MY endDate}}</span>
    {{else}}
      <span class="endDate">- {{translate "current"}}</span>
    {{/if}}
  </div>
{{/if}}
